API_ID=27024103
API_HASH=9be31c42028de86910437713d634209a
BOT_TOKEN=6266945362:AAHCuOfJXA_AreD9Lx-Uqin9I9Oi9GRInWU
LOG_GROUP_ID=-1001500288382
MONGO_DB_URI=mongodb+srv://vcbot:vcbot@cluster0.yqipgxg.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=SERIN_X_VIBE
OWNER_ID=5170267638
STRING_SESSION=AQBT2nD36Kdv8sgBgQDK52lelu217dqtIk1c3UGxiE2nMYU6g7AZjmHmOr7sYRk_Irej22LSmnxkLmM2Fky1dYfK-rCbyPteSh8ZWY7xO2qiVaXBlmDeVw3Vw9CcgLH12TnD93RtIAHZpqPKkn8-Y5CwQy8IitVfsZ2bMURgkofx0DymCPOIgKClfnCJV0NXa3qQ2jqnVP23GNLb01Ib7TNg7x0I2KTsD8fYM96sdAPIvo6vUehHc8NVkgqgg7EfuQNJgzjsy8fEWnw540wsLalFVhElbRidkylEpU-7iM7U-RTFN0PIFVP6dFajpm9_yPUDAHD8xcWe8G83Y2rz-LKhAAAAAUcegLsA
